<div class="app-footer">
	<div class="row">
		<div class="col-md-9">
			<p><strong>Macmonet</strong></p>
			<p></p>
		</div>
	</div>
	<div class="footer-bottom border-top pt-3 d-flex flex-column flex-sm-row align-items-center">

		<span class="flex-grow-1"></span>
		<div class="d-flex align-items-center">
			<img class="logo" src="./assets/images/logo01.png" alt="">
			<div>
				<p class="m-0">&copy; 2019~2020 Macmonet Admin</p>
				<p class="m-0">All rights reserved</p>
			</div>
		</div>
	</div>
</div>
